USE [master]
GO
/****** Object:  Database [MODELE-ETOILE]    Script Date: 18/03/2021 19:00:14 ******/
CREATE DATABASE [MODELE-ETOILE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MODELE-ETOILE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MODELE-ETOILE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MODELE-ETOILE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MODELE-ETOILE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MODELE-ETOILE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MODELE-ETOILE]
GO
/****** Object:  Table [dbo].[dim_centre_medicale]    Script Date: 18/03/2021 19:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_centre_medicale](
	[id_centre] [int] NOT NULL,
	[nom_centre] [varchar](200) NULL,
	[adresse_centre] [varchar](200) NULL,
 CONSTRAINT [pk_centre_medicale] PRIMARY KEY NONCLUSTERED 
(
	[id_centre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 18/03/2021 19:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[id_date] [int] IDENTITY(1,1) NOT NULL,
	[jour] [varchar](20) NULL,
	[semaine] [varchar](20) NULL,
	[mois] [varchar](20) NULL,
	[trimestre] [varchar](20) NULL,
	[annee] [varchar](20) NULL,
	[date_consultation] [date] NULL,
 CONSTRAINT [pk_date] PRIMARY KEY NONCLUSTERED 
(
	[id_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_pathologie]    Script Date: 18/03/2021 19:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_pathologie](
	[id_pathologie] [int] NOT NULL,
	[libelle_pathologie] [varchar](200) NULL,
	[criticite_pathologie] [varchar](200) NULL,
 CONSTRAINT [pk_pathologie] PRIMARY KEY NONCLUSTERED 
(
	[id_pathologie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_patient]    Script Date: 18/03/2021 19:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_patient](
	[id_patient] [varchar](200) NOT NULL,
	[nom_patient] [varchar](200) NULL,
	[prenom_patient] [varchar](200) NULL,
	[sexe_patient] [char](8) NULL,
	[age_patient] [int] NULL,
	[tranche_age] [varchar](20) NULL,
	[localite_patient] [varchar](200) NULL,
 CONSTRAINT [pk_patient] PRIMARY KEY NONCLUSTERED 
(
	[id_patient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_praticien]    Script Date: 18/03/2021 19:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_praticien](
	[id_praticien] [varchar](200) NOT NULL,
	[nom_praticien] [varchar](200) NULL,
	[prenom_praticien] [varchar](200) NULL,
	[libelle_specialite] [varchar](200) NULL,
	[libelle_grade] [varchar](200) NULL,
 CONSTRAINT [pk_praticien] PRIMARY KEY NONCLUSTERED 
(
	[id_praticien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fait_consultation]    Script Date: 18/03/2021 19:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fait_consultation](
	[id_date] [int] NOT NULL,
	[id_praticien] [varchar](200) NOT NULL,
	[id_patient] [varchar](200) NOT NULL,
	[id_pathologie] [int] NOT NULL,
	[id_centre] [int] NOT NULL,
	[montant_consultation] [int] NULL,
 CONSTRAINT [pk_consultation] PRIMARY KEY NONCLUSTERED 
(
	[id_date] ASC,
	[id_praticien] ASC,
	[id_patient] ASC,
	[id_pathologie] ASC,
	[id_centre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fait_consultation]  WITH CHECK ADD  CONSTRAINT [fk_consultation_centre] FOREIGN KEY([id_centre])
REFERENCES [dbo].[dim_centre_medicale] ([id_centre])
GO
ALTER TABLE [dbo].[fait_consultation] CHECK CONSTRAINT [fk_consultation_centre]
GO
ALTER TABLE [dbo].[fait_consultation]  WITH CHECK ADD  CONSTRAINT [fk_consultation_date] FOREIGN KEY([id_date])
REFERENCES [dbo].[dim_date] ([id_date])
GO
ALTER TABLE [dbo].[fait_consultation] CHECK CONSTRAINT [fk_consultation_date]
GO
ALTER TABLE [dbo].[fait_consultation]  WITH CHECK ADD  CONSTRAINT [fk_consultation_pathologie] FOREIGN KEY([id_pathologie])
REFERENCES [dbo].[dim_pathologie] ([id_pathologie])
GO
ALTER TABLE [dbo].[fait_consultation] CHECK CONSTRAINT [fk_consultation_pathologie]
GO
ALTER TABLE [dbo].[fait_consultation]  WITH CHECK ADD  CONSTRAINT [fk_consultation_patient] FOREIGN KEY([id_patient])
REFERENCES [dbo].[dim_patient] ([id_patient])
GO
ALTER TABLE [dbo].[fait_consultation] CHECK CONSTRAINT [fk_consultation_patient]
GO
ALTER TABLE [dbo].[fait_consultation]  WITH CHECK ADD  CONSTRAINT [fk_consultation_praticien] FOREIGN KEY([id_praticien])
REFERENCES [dbo].[dim_praticien] ([id_praticien])
GO
ALTER TABLE [dbo].[fait_consultation] CHECK CONSTRAINT [fk_consultation_praticien]
GO
USE [master]
GO
